Django==5.2.15
pandas==3.0.3
whitenoise==6.12.0
xlsxwriter==3.2.9
django-admin-logs==1.5.0
django_select2==8.4.8
requests==2.34.2
xhtml2pdf==0.2.17
svglib==1.5.1
social-auth-app-django==5.9.0
django-modeltranslation==0.20.3
sshtunnel==0.4.0
PyMySQL==1.2.0
isort==8.0.1
black==26.5.1
ruff==0.15.15