{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title %}{{ title }}{% endblock %}
{% block banner %}{% endblock %}
{% block footer %}{% endblock %}
{% block content %}
    <div class="w3-container userform">
        <h2>{% blocktrans with id_=event.id %}Delete activity nº {{ id_ }}?{% endblocktrans %}</h2>
        <div style="font-size: 1.5em; line-height: 1.5em;">
            {% blocktrans with name=event.name %}<i>"{{ name }}"</i>{% endblocktrans %}
            <br><br>
            {% blocktrans %}Are you <b>ABSOLUTELY</b> sure you want to delete this activity? <b>This cannot be undone!</b>{% endblocktrans %}
            <br><br>
            <form method="post">
                {% csrf_token %}
                <button id="delete_button" type="submit" class="custombutton" value="Delete">{% trans "Delete" %}</button>
            </form>
        </div>
    </div>
{% endblock %}
