{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title %}{{ title }}{% endblock %}

{% block scripts %}
    <script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/bootstrap-table/1.21.2/bootstrap-table.min.js"></script>
    <script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/bootstrap-table/1.21.2/extensions/mobile/bootstrap-table-mobile.min.js"></script>
    <script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/bootstrap-table/1.21.2/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>
{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/bootstrap-table/1.21.2/bootstrap-table.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/forms.css' %}">
{% endblock %}
{% block banner %}{% endblock %}
{% block footer %}{% endblock %}
{% block content %}
    <div class="user_form">
        <div class="w3-row">
            <div class="w3-row">
                <div class="w3-half" style="text-align: center">
                    <h1>{% trans 'Activities' %}</h1>
                </div>
                <div class="w3-half formfield"><input id="customSearch" type="search" placeholder="{% trans 'Search' %}" aria-label="{% trans 'Search' %}" autocomplete="off" ></div>
            </div>
            <table id="activities" class="table table-striped" style="background-color: var(--light-color)"
                   data-mobile-responsive="true"
                   data-check-on-init="true"
                   data-filter-control="true"
                   data-show-search-clear-button="true"
                   data-search="true"
                   data-search-selector="#customSearch">
                <thead style="background-color: var(--dark-color); color:var(--light-color); border: 1px solid var(--light-color)">
                <tr>
                    <th data-field="id">{% trans "ID" %}</th>
                    <th data-field="name" data-sortable="true">{% trans "Name" %}</th>
                    <th data-field="initial_date" data-sorter="datesSorter" data-sortable="true">{% trans "Initial date" %}</th>
                    <th data-field="end_date" data-sorter="datesSorter" data-sortable="true">{% trans "End date" %}</th>
                    <th data-field="responsible" data-sortable="true" data-filter-control="select">{% trans "Responsible" %}</th>
                </tr>
                </thead>
                <tbody>
                {% for data in dataset %}
                    <tr>
                        <th scope="row">{{ data.id }}</th>
                        <td>
                            <a href="{% url 'agenda:edit_event' event_id=data.id %}" title="{{ data.name }}">
                                {{ data.name }}
                            </a>
                        </td>
                        <td>{{ data.initial_date|date:'Y-m-d' }}</td>
                        <td>{{ data.end_date|date:'Y-m-d' }}</td>
                        <td>{{ data.area_responsible }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <script>
        $(function () {
            $('#activities').bootstrapTable();
        })

        function datesSorter(a, b) {
            if (new Date(a) < new Date(b)) return 1;
            if (new Date(a) > new Date(b)) return -1;
            return 0;
        }

        $(function (){
            $('[class*="bootstrap-table-filter-control-"]').wrap("<label style='width: 100%'></label>");
        })
    </script>
{% endblock %}