{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block styles %}<link rel="stylesheet" type="text/css" href="{% static 'css/forms.css' %}">{% endblock %}
{% block banner %}{% endblock %}
{% block banner %}{% endblock %}
{% block footer %}{% endblock %}
{% block content %}
    <div class="w3-container">
        <div class="w3-third">&nbsp;</div>
        <div class="w3-third userform">
            <h2>{% blocktrans with id_=data.id %}Bug nº {{ id_ }}{% endblocktrans %}</h2>
            <div class="w3-container">
                {% if data.title %}
                    <div class="w3-row">
                        <div class="w3-third formfieldtitle">{% trans "Title" %}</div>
                        <div class="w3-twothird formfield">{{ data.title }}</div>
                    </div>
                {% endif %}
                <div class="w3-row">
                    <div class="w3-third formfieldtitle">{% trans "Description" %}</div>
                    <div class="w3-twothird formfield">{{ data.description }}</div>
                </div>
                <div class="w3-row">
                    <div class="w3-third formfieldtitle">{% trans "Date of report" %}</div>
                    <div class="w3-twothird formfield">{{ data.date_of_report }}</div>
                </div>
                {% if data.update_date %}
                    <div class="w3-row">
                        <div class="w3-third formfieldtitle">{% trans "Update date" %}</div>
                        <div class="w3-twothird formfield">{{ data.update_date }}</div>
                    </div>
                {% endif %}
                <div class="w3-row">
                    <div class="w3-third formfieldtitle">{% trans "Reporter" %}</div>
                    <div class="w3-twothird formfield">{{ data.reporter }}</div>
                </div>
                <div class="w3-row">
                    <div class="w3-third formfieldtitle">{% trans "Status" %}</div>
                    <div class="w3-twothird formfield">{{ data.get_status_display }}</div>
                </div>
                <div class="w3-row">
                    <div class="w3-third formfieldtitle">{% trans "Type" %}</div>
                    <div class="w3-twothird formfield">{{ data.get_type_of_bug_display }}</div>
                </div>
                {% if data.observation %}
                    <div class="w3-row">
                        <div class="w3-third formfieldtitle">{% trans "Observation" %}</div>
                        <div class="w3-twothird formfield">{{ data.observation }}</div>
                    </div>
                {% endif %}
                {% if perms.bug.change_bug %}
                    <div class="w3-row">
                        <div class="w3-third note formfieldtitle">&nbsp;</div>
                        <div class="w3-twothird formfield">
                            <a href="{% url 'bug:edit_bug' bug_id=data.id %}" tabindex="0" target="_self" aria-label="{% translate 'Update' %}">
                                <button class="submitbutton" type="button">{% translate "Update" %}</button>
                            </a>
                        </div>
                    </div>
                {% endif %}
                {% if perms.bug.add_obs %}
                    <div class="w3-row">
                        <div class="w3-third note formfieldtitle">&nbsp;</div>
                        <div class="w3-twothird formfield">
                            {% if data.observation %}
                                <a href="{% url 'bug:edit_obs' bug_id=data.id %}" tabindex="0" target="_self" aria-label="{% translate 'Edit observation' %}">
                                    <button class="submitbutton" type="button">{% translate "Edit observation" %}</button>
                                </a>
                            {% else %}
                                <a href="{% url 'bug:add_obs' bug_id=data.id %}" tabindex="0" target="_self" aria-label="{% translate 'Add observation' %}">
                                    <button class="submitbutton" type="button">{% translate "Add observation" %}</button>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
