{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block styles %}<link rel="stylesheet" type="text/css" href="{% static 'css/forms.css' %}">{% endblock %}
{% block banner %}{% endblock %}
{% block footer %}{% endblock %}
{% block content %}
    <div class="w3-container">
        <div class="w3-row">
            <div class="user_form">
                <form method="post">
                    {% csrf_token %}
                    <div class="w3-row">
                        <div class="w3-quarter disappear">&nbsp;</div>
                        <div class="w3-half">
                            {% for field in obsform %}
                                <label class="w3-third field_title" for="id_{{ field.name }}">
                                    {{ field.label }}{% if field.field.required %}*{% endif %}
                                </label>
                                <div class="w3-twothird formfield">
                                    {{ field }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="w3-row">
                        <div class="w3-quarter disappear">&nbsp;</div>
                        <div class="w3-half">
                            <div class="w3-third note field_title">
                                {% translate "* Required fields" %}
                            </div>
                            <div class="w3-twothird formfield">
                                <button class="submitbutton" type="submit">{% translate "Submit" %}</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}