/* CALENDAR */
.calendar { display: flex; flex-direction: column; text-align: center; min-height: 100%; height: auto; }
.calendar_table { flex-grow: 1; background-color: var(--light-color); margin-bottom: 0; }
.calendar_table:not(:last-of-type) { margin-bottom: 1em; }
.calendar_table td { padding: 0; }
.calendar_table th, td { width: calc(100%/7); }
.day { width: 14.29%; padding:0 !important; }
.day-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 2em;
  height: 2rem;
  border-radius: 50%;
  text-decoration: none;
}
.day-0 { display: none; }
.align-middle { vertical-align: middle; }
.slim { padding: 0 !important; color:var(--main-color); transition: all 300ms ease-in-out; }
.slim:hover { background-color: var(--dark-color);}
.slim a { display:block; height:100%; width:100%; padding: 1em 0; }
.border-main { border: 1px solid var(--main-color) !important; }


/* ACTIVITIES */
.activity { width: 100%; padding: 0.5em; }
.activity-community { background-color: var(--rainbow-color-1); }
.activity-education { background-color: var(--rainbow-color-3); }
.activity-technology { background-color: var(--rainbow-color-5); }
.activity-fundraising { background-color: var(--rainbow-color-17); }
.activity-calibra { background-color: var(--rainbow-color-7); }
.activity-administration { background-color: var(--rainbow-color-9); }
.activity-glam { background-color: var(--rainbow-color-11); }
.activity-coordination { background-color: var(--rainbow-color-13); }
.activity-communication { background-color: var(--rainbow-color-15); }

/* ACTIVITIES HOVER */
.activity-community:hover { background-color: var(--rainbow-color-2); transition: all 300ms ease-in-out; }
.activity-education:hover { background-color: var(--rainbow-color-4); transition: all 300ms ease-in-out; }
.activity-technology:hover { background-color: var(--rainbow-color-6); transition: all 300ms ease-in-out; }
.activity-fundraising:hover { background-color: var(--rainbow-color-18); transition: all 300ms ease-in-out; }
.activity-calibra:hover { background-color: var(--rainbow-color-8); transition: all 300ms ease-in-out; }
.activity-administration:hover { background-color: var(--rainbow-color-10); transition: all 300ms ease-in-out; }
.activity-glam:hover { background-color: var(--rainbow-color-12); transition: all 300ms ease-in-out; }
.activity-coordination:hover { background-color: var(--rainbow-color-14); transition: all 300ms ease-in-out; }
.activity-communication:hover { background-color: var(--rainbow-color-16); transition: all 300ms ease-in-out; }


.activity-community:hover a { color: var(--light-color) !important; }
.activity-education:hover a { color: var(--light-color) !important; }
.activity-technology:hover a { color: var(--light-color) !important; }
.activity-calibra:hover a { color: var(--dark-color) !important; }
.activity-administration:hover a { color: var(--dark-color) !important; }
.activity-glam:hover a { color: var(--dark-color) !important; }
.activity-coordination:hover a { color: var(--light-color) !important; }
.activity-communication:hover a { color: var(--light-color) !important; }
.activity-fundraising:hover a { color: var(--light-color) !important; }

@media screen and (max-width: 600px) {
    .activity { width: 0.5em; height: 0.5em; border-radius: 100%; }
    .mobile-dot { font-size: 0.5em; }
    .calendar_table td { justify-items: center; padding: 0.5em 0; }
}