/* CALENDAR */
.calendar { display: flex; flex-direction: column; text-align: center; min-height: 100%; height: auto; }
.calendar_table { flex-grow: 1; background-color: var(--light-color); margin-bottom: 0; }
.calendar_table:not(:last-of-type) { margin-bottom: 1em; }
.calendar_table td { padding: 0; }
.calendar_table th, td { width: calc(100%/7); }
.day { width: 14.29%; padding:0 !important; }
.day-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 2em;
  height: 2rem;
  border-radius: 50%;
  text-decoration: none;
}
.align-middle { vertical-align: middle; }
.slim { padding: 0 !important; color:var(--main-color); transition: all 300ms ease-in-out; }
.slim:hover { background-color: var(--dark-color);}
.slim a { display:block; height:100%; width:100%; padding: 1em 0; }
.border-main { border: 1px solid var(--main-color) !important; }


/* ACTIVITIES */
.activity { width: 100%; padding: 0.5em; }
.activity-comunidade { background-color: var(--rainbow-color-1); }
.activity-educacao { background-color: var(--rainbow-color-3); }
.activity-tecnologia { background-color: var(--rainbow-color-5); }
.activity-captacao { background-color: var(--rainbow-color-17); }
.activity-calibra { background-color: var(--rainbow-color-7); }
.activity-administracao { background-color: var(--rainbow-color-9); }
.activity-cultura { background-color: var(--rainbow-color-11); }
.activity-coordenacao { background-color: var(--rainbow-color-13); }
.activity-comunicacao { background-color: var(--rainbow-color-15); }
.activity-campanha { background-color: var(--rainbow-color-17)}

/* ACTIVITIES HOVER */
.activity-comunidade:hover { background-color: var(--rainbow-color-2); transition: all 300ms ease-in-out; }
.activity-educacao:hover { background-color: var(--rainbow-color-4); transition: all 300ms ease-in-out; }
.activity-tecnologia:hover { background-color: var(--rainbow-color-6); transition: all 300ms ease-in-out; }
.activity-captacao:hover { background-color: var(--rainbow-color-18); transition: all 300ms ease-in-out; }
.activity-calibra:hover { background-color: var(--rainbow-color-8); transition: all 300ms ease-in-out; }
.activity-administracao:hover { background-color: var(--rainbow-color-10); transition: all 300ms ease-in-out; }
.activity-cultura:hover { background-color: var(--rainbow-color-12); transition: all 300ms ease-in-out; }
.activity-coordenacao:hover { background-color: var(--rainbow-color-14); transition: all 300ms ease-in-out; }
.activity-comunicacao:hover { background-color: var(--rainbow-color-16); transition: all 300ms ease-in-out; }
.activity-campanha:hover { background-color: var(--rainbow-color-18); transition: all 300ms ease-in-out; }

.activity-comunidade:hover a { color: var(--light-color) !important; }
.activity-educacao:hover a { color: var(--light-color) !important; }
.activity-tecnologia:hover a { color: var(--light-color) !important; }
.activity-captacao:hover a { color: var(--dark-color) !important; }
.activity-administration:hover a { color: var(--dark-color) !important; }
.activity-administracao:hover a { color: var(--dark-color) !important; }
.activity-cultura:hover a { color: var(--light-color) !important; }
.activity-coordenacao:hover a { color: var(--light-color) !important; }
.activity-comunicacao:hover a { color: var(--light-color) !important; }
.activity-campanha:hover a { color: var(--light-color) !important; }

@media screen and (max-width: 600px) {
    .activity { width: 0.5em; height: 0.5em; border-radius: 100%; }
    .mobile-dot { font-size: 0.5em; }
    .calendar_table td { justify-items: center; padding: 0.5em 0; }
}