/* FORMS */
.user_form { padding: 1em !important; }
.formfield { margin-bottom: 1em; }
.formfield span { vertical-align: top; }
.formfield input, select, textarea {
    width: 100%;
    border: none;
    background-color: var(--light-color);
    color: var(--dark-color);
    font-weight: normal;
    padding: 1em 0.5em 1em 1em;
    border-radius: 0.5em;
    overflow-y: auto;
    overflow-x: auto;
}
.field_title { font-family: var(--main-font); font-weight: bold; }
.form-legend { font-size: small; color: var(--grey-color); }
#homepage_buttons div:nth-child(odd) { padding-right: 1em; }
#homepage_buttons div:nth-child(even) { padding-left: 1em; }
.view-field {
    color: var(--dark-color);
    border: none;
    background-color: var(--light-color);
    font-weight: normal !important;
    padding: 0.5em 0.5em 0.5em 1em;
    border-radius: 0.5em;
    overflow-y: auto;
    overflow-x: auto;
}
.invisible_field { display: none !important; }
fieldset { border: none; padding: 0; margin: 0; }
fieldset legend { display: none; }
fieldset input { background-color: var(--main-lighter-color) !important }
.note { font-weight: 100; color: var(--light-color); }
.language_selector {
    width: fit-content;
    border: none;
    background-color: var(--dark-color);
    color: var(--main-color);
    font-weight: normal;
    padding: 0;
    border-radius: 1em;
    overflow-y: auto;
    overflow-x: auto;
}
.form-left { padding-right: 1em; }
.form-right { padding-left: 1em; }

/* BUTTONS */
.closebtn {
    margin-left: 1em;
    color: var(--dark-color);
    float: right;
    font-size: 1em;
    line-height: 1em;
    cursor: pointer;
    transition: 0.3s;
}
.submit_button {
    background-color: var(--main-color);
    border-radius: 0.5em;
    border: none;
    color: var(--light-color);
    margin: 0;
    width: 100%;
    padding: 0.5em;
    text-align: center;
    transition: all 300ms ease-in-out;
}
.submit_button:hover {
    scale: 97%;
    background-color: var(--light-color);
    color: var(--main-color);
    cursor: pointer;
}
.add_button, .refresh_button {
    color: var(--light-color);
    font-size: 0.75em;
    font-weight: bold;
    background: var(--main-color);
    border-radius: 0.5em;
    border: none;
    transition: all 300ms ease-in-out;
}
.add_button:hover, .refresh_button:hover {
    scale: 97%;
    background-color: var(--light-color);
    color: var(--main-color);
    cursor: pointer;
}

/* ALERT MESSAGES */
.alertmessage-success {
    padding: 1em 2em;
    background-color: var(--success-color);
    color: var(--dark-color);
    text-align: center;
}
.alertmessage-warning {
    padding: 1em 2em;
    background-color: var(--attention-color) !important;
    color: var(--dark-color);
    text-align: center;
}
.alertmessage-error {
    padding: 1em 2em;
    background-color: var(--error-color) !important;
    color: var(--dark-color);
    text-align: center;
}

/* SWITCH */
.toggle {
    --width: 3em;
    --height: calc(var(--width) / 2);
    --border-radius: calc(var(--height) / 2);

    display: inline-block;
    cursor: pointer;
}
.toggle__input {
    display: none;
}
.toggle__fill::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: var(--height);
    width: var(--height);
    background: var(--grey-color);
    border-radius: var(--border-radius);
    transition: all 300ms;
}
.toggle__fill {
    position: relative;
    width: var(--width);
    height: var(--height);
    border-radius: var(--border-radius);
    background: var(--light-color);
    transition: all 300ms;
    display: inline-block;
}
.toggle__input:checked ~ .toggle__fill {
    background: var(--main-color);
}
.toggle__input:checked ~ .toggle__fill::after {
    transform: translateX(var(--height));
    background: var(--light-color);
}

/* SELECT2 */
.select2-container { width:100% !important; }
.select2-selection {
    width: 100%;
    height: unset !important;
    border: none !important;
    background-color: var(--light-color) !important;
    color: var(--dark-color) !important;
    font-weight: normal !important;
    padding: 1em 0.5em 1em 1em !important;
    border-radius: 0.5em !important;
    overflow-y: auto !important;
    overflow-x: auto !important;
}
.select2-selection__rendered { line-height:unset !important; }
.select2-results__option { color:var(--dark-color); }
.select2-results__option--highlighted[aria-selected] { background-color:var(--main-color) !important; color: white; }
.select2-selection__arrow { height: 100% !important; position: absolute; top: 0 !important; right: 0.5em !important; width: 1em; }
.select2-selection__arrow b { border-color: var(--dark-color) transparent transparent transparent !important; }
.select2-results__options { max-height: 500px !important; }
