/* HTML ELEMENTS */
:root {
    /* MAIN COLORS */
    --dark-color: rgb(0, 0, 0);
    --light-color: rgb(255, 255, 255);
    --main-color: rgb(50, 103, 255);
    --success-color: rgb(64, 239, 0);
    --error-color: rgb(236, 13, 28);
    --attention-color: rgb(246, 204, 8);
    --main-lighter-color: rgb(153, 182, 255);
    --main-darker-color: rgb(29, 49, 128);

    /* GREY COLORS */
    --dark-grey-color: rgb(25, 25, 25);
    --grey-color: rgb(117, 117, 117);
    --light-grey-color: rgb(230, 230, 230);

    /* AREA COLORS */
    --rainbow-color-1: rgba(142, 124, 195, 1);
    --rainbow-color-2: rgba(96, 70, 159, 1);
    --rainbow-color-3: rgba(109, 158, 235, 1);
    --rainbow-color-4: rgba(43, 98, 171, 1);
    --rainbow-color-5: rgba(70, 189, 189, 1);
    --rainbow-color-6: rgba(22, 119, 119, 1);
    --rainbow-color-7: rgba(147, 196, 125, 1);
    --rainbow-color-8: rgba(80, 164, 47, 1);
    --rainbow-color-9: rgba(255, 217, 102, 1);
    --rainbow-color-10: rgba(220, 183, 43, 1);
    --rainbow-color-11: rgba(246, 178, 107, 1);
    --rainbow-color-12: rgba(218, 119, 26, 1);
    --rainbow-color-13: rgba(224, 102, 102, 1);
    --rainbow-color-14: rgba(224, 42, 42, 1);
    --rainbow-color-15: rgba(236, 128, 181, 1);
    --rainbow-color-16: rgba(197, 45, 124, 1);
    --rainbow-color-17: rgb(42, 165, 90);
    --rainbow-color-18: rgb(1, 94, 47);

    --bs-body-color: var(--dark-grey-color);

    /* TYPOGRAPHY */
    --main-font: Poppins, sans-serif;
}
html {
    font-size: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
body {
    font-size: 100%;
    height: 100vh;
    padding: 0 !important;
    margin: 0;
    color: var(--light-grey-color);
    font-family: var(--main-font), sans-serif;
}
main, .main-container {
    overflow-y: auto;
    flex: 1 0;
    transition: margin-left .5s;
    background-color: var(--dark-grey-color);
}
.main-container { display: flex; flex-direction: column; }
main { flex: 1; }
a { text-decoration: none; color:inherit; }
p, footer, .block-section { margin:1em 0; }
svg { vertical-align:unset !important; }
button { font-family: var(--main-font) !important; font-weight: bold; }
.banner-message {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 6em;
    background-color: var(--main-color);
    justify-content: center;
    font-size: 1.25em;
}
.banner-message a { text-decoration: underline; }

/* SCROLLBAR ELEMENTS */
::-webkit-scrollbar { width: 1em; }
::-webkit-scrollbar-track { background: var(--dark-grey-color); }
::-webkit-scrollbar-thumb { background: var(--main-color); border-radius: 1em; }

/* HEADER ELEMENTS */
h1, h2, h3, h4, h5 {
    font-family: var(--main-font) !important;
    font-size: 1.25em;
    font-weight: bold;
    width: fit-content;
    margin: 0;
}
h3, h4, h5 {
    margin: 1em 0 !important;
}
h1 {
    font-size: 2.5em !important;
    width: 100%;
    text-align: center;
}
h2 {
    font-size: 2em !important;
    color: var(--main-color);
}
h3 {
    font-size: 1.5em !important;
    color: var(--dark-grey-color);
    background: var(--light-grey-color);
    padding: 0 0.5em;
}
h4 {
    color: var(--light-grey-color);
    font-size: 1em !important;
    background: linear-gradient(to bottom, transparent 85%, var(--main-color) 15%);
    text-transform: uppercase;
}
h5 {
    font-size: 1em !important;
    font-style: italic;
    color: var(--light-grey-color);
}

/* LOGO */
.logo {
    text-align: center;
    padding: 2em 0
}
.logo img {
    max-width: 250px;
    width: 100%
}

/* OTHER ELEMENTS */
.underlined { text-decoration: underline; }
ul {
    margin-block-start: 0;
    padding-inline-start: 1.5em;
}
li { list-style-type: "◀  "; }
canvas {
    width:100%;
}

.wrapper { display: flex; min-height: 100%; }
.wrapper-main { width: 100%; height: 100vh; overflow-y: auto; }
.w3-container { padding: 0; }
.w3-threequarter { padding: 1em 2em; }
.subcontainer { padding: 1em !important; background-color: var(--light-grey-color); }
.text-center { text-align: center; }
.index {
    background-color: var(--light-color);
    border-radius: 0 1em 1em 0;
    color: var(--main-color);
    padding: 1em;
    position: sticky;
    top: 0;
}
.appear { display: none; }
@media screen and (max-width: 600px) {
    .index { position: relative; }
    .disappear { display: none; }
    .appear { display: block; }
    .form-left, .form-right, #homepage_buttons div { padding: 0 !important; }
    .table:not(.calendar_table)>:not(caption)>*>* { padding: 0 !important; }
    .btn100 { width: 100% !important; height: auto !important; }
}

/* CHECKBOX */
.select-container {
    display: block;
    position: relative;
    padding-left: 2em;
    margin-bottom: 0.5em;
    cursor: pointer;
    font-size: 1em;
    user-select: none;
    color: var(--dark-grey-color)
}
.select-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 1.5em;
    width: 1.5em;
    background-color: var(--light-color);
    border: 1px solid var(--main-color);
}
.select-container:hover input ~ .checkmark {
    background-color: var(--main-lighter-color);
    border: 1px solid var(--light-color);
}
.select-container input:checked ~ .checkmark {
    background-color: var(--main-color);
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.select-container input:checked ~ .checkmark:after {
    display: block;
    transition: all 300ms ease-in-out;
}
.select-container .checkmark:after {
    left: 0.5em;
    top: 0.3em;
    width: 0.3em;
    height: 0.6em;
    border: solid var(--light-color);
    border-width: 0 0.15em 0.15em 0;
    transform: rotate(45deg);
}
.radio-checkmark {
    border-radius: 100%;
}

/* TAB */
.tab {
    overflow: hidden;
}
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 1em;
    transition: 300ms;
    text-transform: uppercase;
}
.tab button:hover {
    background-color: var(--main-color);
    color: var(--light-color)
}
.tab button.active {
    background-color: var(--light-color);
    color: var(--main-color);
}
.tabcontent { display: none; }
.tabcontent.active { display: block; }
.tablinks { color: var(--light-color); }

/* TABLE */
.custom-table-header-el {
    border: 1px solid var(--light-color);
    background-color: var(--main-color);
    color: var(--light-color);
    padding: 0.5em;
    text-align: center;
    vertical-align: middle;
    height: 100%;
}
.custom-table-row:nth-of-type(odd) {
    background-color: var(--light-color);
    color: var(--main-color);
    padding: 0.5em;
    text-align: center;
    vertical-align: middle;
    height: 100%;
}
.custom-table-row:nth-of-type(even) {
    background-color: var(--light-color);
    color: var(--main-color);
    padding: 0.5em;
    text-align: center;
    vertical-align: middle;
    height: 100%;
}
.card-view-title { min-width: 40% !important; }
.table-sara { background-color: var(--light-color); }
.table-sara th:nth-child(1) { max-width:2em; }
.table-sara thead { background-color: var(--main-color); color:var(--light-color); border: 1px solid var(--light-color) }

/* BUTTONS */
.btn-circle {
    width: 2em;
    height: 2em;
    text-align: center;
    padding: 0.5em 0;
    font-size: 1em;
    line-height: 1em;
    border-radius: 1em;
    border-width: 0;
    margin: 0.25em 0;
}
.btn-round {
    width: auto;
    height: 2em;
    text-align: center;
    padding: 0.5em;
    font-size: 1em;
    line-height: 1em;
    border-radius: 10em;
    border-width: 0;
    margin: 0.25em 0;
}
.btn-view { background-color: var(--success-color); }
.btn-update { background-color: var(--main-color); }
.btn-delete { background-color: var(--error-color); }
.btn-export { background-color: var(--attention-color); }
.btn-readonly { background-color: var(--grey-color); }

.custombutton {
    background-color: var(--main-color);
    border-radius: 0.5em;
    border: none;
    color: var(--light-color);
    margin: 0 0 1em 0;
    width: 100%;
    padding: 0.5em;
    text-align: center;
    transition: all 300ms ease-in-out;
}
.custombutton:hover, .custombutton-wide:hover {
    scale: 97%;
    background-color: var(--light-color) !important;
    color: var(--main-color);
    cursor: pointer;
}
.custombutton-wide {
    background-color: var(--dark-color);
    border-radius: 0.5em;
    border: none;
    color: var(--main-color);
    margin: 0;
    width: 100%;
    text-align: center;
    transition: all 300ms ease-in-out;
}

:focus { outline: 10px solid var(--main-color); }

.btn-1 { background-color: #FF4242; color: var(--dark-color); }
.btn-2 { background-color: #FF9B43; color: var(--dark-color); }
.btn-3 { background-color: #FFDD4A; color: var(--dark-color); }
.btn-4 { background-color: #44DB5E; color: var(--dark-color); }
.btn-5 { background-color: #3FACFF; color: var(--dark-color); }

@media print {
    nav, .index { display: none !important; }
}