{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block styles %}<link rel="stylesheet" type="text/css" href="{% static 'css/forms.css' %}">{% endblock %}
{% block title %}{% translate "Login" %}{% endblock %}

{% block content %}
    <div class="w3-container main_content">
        <div class="w3-row">
            <div class="w3-container userform">
                <form method="post">
                    {% csrf_token %}
                    <div class="w3-row">
                        <div class="w3-quarter disappear">&nbsp;</div>
                        <div class="w3-half">
                            <div class="w3-third formfieldtitle">
                                {% translate "Username" %}*
                            </div>
                            <div class="w3-twothird formfield">
                                {{ form.username }}
                            </div>
                            <div class="w3-third formfieldtitle">
                                {% translate "Password" %}*
                            </div>
                            <div class="w3-twothird formfield">
                                {{ form.password }}
                            </div>
                            <div class="w3-third note formfieldtitle">
                                {% translate "* Required fields" %}
                            </div>
                            <div class="w3-twothird formfield">
                                <button class="custombutton" type="submit">{% translate "Submit" %}</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}