{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title %}{{ title }}{% endblock %}

{% block styles %}<link rel="stylesheet" type="text/css" href="{% static 'css/forms.css' %}">{% endblock %}
{% block footer %}{% endblock %}
{% block banner %}
    <div class="w3-row">
    <div class="w3-quarter disappear">&nbsp;</div>
    <div class="w3-half">
        <div class="w3-third">&nbsp;</div>
        <div class="w3-twothird">
            <div style="width:100px; height: 100px; border-radius:50%; overflow: hidden; margin-left: auto; margin-right: auto;">
                {% if userprofileform.instance.photograph %}
                    <img src="https://commons.wikimedia.org/wiki/Special:FilePath/{{ userprofileform.instance.photograph }}?width=200px" alt="{{ userprofileform.instance.first_name }} {{ userprofileform.instance.last_name }}" style="width: 100%;">
                {% else %}
                    <img src="{% static 'images/placeholder.svg' %}" alt="{% translate "Placeholder" %}" width="100px">
                {% endif %}
            </div>
        </div>
    </div>
    </div>
{% endblock %}
{% block content %}
    <div class="w3-container">
        <div class="w3-row">
            <div class="userform">
                <div class="w3-row">
                    <div class="w3-quarter disappear">&nbsp;</div>
                    <div class="w3-half">
                        <fieldset disabled="disabled">
                            <legend>{% translate "Fixed fields" %}</legend>
                            {% for field in userform %}
                                <label class="w3-third formfieldtitle" for="id_{{ field.name }}">
                                    {{ field.label }}{% if field.field.required %}*{% endif %}
                                </label>
                                <div class="w3-twothird formfield">{{ field }}</div>
                            {% endfor %}
                            <label class="w3-third formfieldtitle" for="id_position">{% trans "Position" %}*</label>
                            <div class="w3-twothird formfield"><input type="text" name="position" value="{{ position.text }}" id="id_position"></div>
                        </fieldset>
                    </div>
                </div>
                <form method="post">
                    {% csrf_token %}
                    <div class="w3-row">
                        <div class="w3-quarter disappear">&nbsp;</div>
                        <div class="w3-half">
                            {% for field in userprofileform %}
                                <label class="w3-third formfieldtitle" for="id_{{ field.name }}">
                                    {{ field.label }}{% if forloop.first %}*{% endif %}
                                </label>
                                <div class="w3-twothird formfield">
                                    {{ field }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="w3-row">
                        <div class="w3-quarter disappear">&nbsp;</div>
                        <div class="w3-half">
                            <div class="w3-third note formfieldtitle">
                                {% translate "* Required fields" %}
                            </div>
                            <div class="w3-twothird formfield">
                                <button class="submitbutton" type="submit">{% translate "Submit" %}</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}