{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} | S.A.R.A.</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}"/>
    <link rel="preconnect" href="https://tools-static.wmflabs.org/">
    <link rel="stylesheet" type="text/css" href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/w3-css/4.1.0/3/w3.css">
    <link rel='stylesheet' type='text/css' href='https://tools-static.wmflabs.org/fontcdn/css?family=Poppins:400,700,800,900'>
    <link rel='stylesheet' type='text/css' href='https://tools-static.wmflabs.org/fontcdn/css?family=Railway'>
    <link rel="stylesheet" type="text/css" href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    {% block styles %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}">
    <script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/popper.js/2.11.6/umd/popper.js"></script>
    <script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/bootstrap/5.2.3/js/bootstrap.min.js"></script>
    <script>
      function toggleMenu(iconElement) {
        const section = document.querySelector('.nav_section');
        if (section) section.classList.toggle('open');
        const icon = iconElement.querySelector('i');
        if (icon.classList.contains('fa-bars')) {
          icon.classList.remove('fa-bars');
          icon.classList.add('fa-times');
        } else {
          icon.classList.remove('fa-times');
          icon.classList.add('fa-bars');
        }
      }
    </script>
</head>
<body>
<div class="wrapper">
    {% block navbar %}{% include 'navbar.html' %}{% endblock %}
    <div class="w3-container main-container">
        {% if user.is_authenticated and not perms.report.add_report %}
            <div class="banner-message">
                {% blocktrans %}<span>S.A.R.A. is on a short vacation while we write the <a href="https://meta.wikimedia.org/wiki/Wikimedia_Brasil/Report" title="link to the current report">most recent report</a>.</span><br><span>You can view and export, but <strong>NOT</strong> add or update.</span>{% endblocktrans %}
            </div>
        {% endif %}
        <main class="w3-container">
            {% include "messages.html" %}
            {% block banner %}
                <div class="w3-row">
                    <div class="w3-third disappear">&nbsp;</div>
                    <div class="w3-third logo"><h1><img src="{% static 'images/sara-logo.svg' %}" alt="{% translate "Logo of the Apprenticeships and Results Evaluation System" %}"></h1></div>
                </div>
            {% endblock %}
            {% block content %}{% endblock %}
        </main>
        {% block footer %}
            <footer id="footer" class="w3-row">
                <hr>
                <div class="w3-row block-section" style="text-align: center;">
                    <img src="{% static 'images/logo.svg' %}" alt="{% translate "Logo of the Wikimedia Brasil" %}" style="height:3em; text-align: center">
                </div>
                <div class="w3-row userform" style="text-align: center;">{% blocktrans %}This application was developed by <i>Wikimedia Brasil</i>.{% endblocktrans %}</div>
            </footer>
        {% endblock %}
    </div>
    {% block scripts %}{% endblock %}
</div>
</body>
</html>