{% load static %}
{% load i18n %}

<nav class="navbar_wrapper">
    <div class="nav_top">
        <div class="logo_nav">
            <a href="{% url 'metrics:index' %}" aria-label="{% translate 'Homepage' %}">
                <svg id="nav_logo" viewBox="0 0 95.5 50">
                    <path id="logo_s" class="st0"
                          d="M13.7,50H2.3c-0.9,0-1.7-0.6-2.1-1.4c-0.4-0.8-0.2-1.8,0.5-2.5l17.6-17.6c-1.4-0.8-2.9-1.3-4.6-1.3 C6.1,27.3,0,21.2,0,13.6S6.1,0,13.7,0H25c1.3,0,2.3,1,2.3,2.3s-1,2.3-2.3,2.3H13.7c-5,0-9.1,4.1-9.1,9.1s4.1,9.1,9.1,9.1 c2.9,0,5.7,0.9,7.9,2.5l1.9-1.9c0.9-0.9,2.3-0.9,3.2,0c0.9,0.9,0.9,2.3,0,3.2l-1.9,1.9c1.6,2.2,2.5,5,2.5,7.9 C27.3,43.9,21.2,50,13.7,50z M7.8,45.5h5.9c5,0,9.1-4.1,9.1-9.1c0-1.7-0.5-3.3-1.3-4.6L7.8,45.5z"/>
                    <path id="logo_a1" class="st0"
                          d="M47.8,50c-0.6,0-1.2-0.2-1.6-0.7L23.4,26.6c-0.9-0.9-0.9-2.3,0-3.2L46.1,0.7c0.6-0.7,1.6-0.8,2.5-0.5 C49.5,0.5,50,1.4,50,2.3v45.5c0,0.9-0.6,1.7-1.4,2.1C48.3,49.9,48,50,47.8,50z M28.2,25l17.2,17.2V7.8L28.2,25z"/>
                    <path id="logo_r" class="st0"
                          d="M47.7,50c-0.3,0-0.6-0.1-0.9-0.2c-0.8-0.4-1.4-1.2-1.4-2.1V13.6C45.5,6.1,51.6,0,59.1,0h11.4 C78,0,84.1,6.1,84.1,13.6c0,0.6-0.2,1.2-0.7,1.6L73.7,25l21.1,21.1c0.9,0.9,0.9,2.3,0,3.2c-0.9,0.9-2.3,0.9-3.2,0L70.5,28.2 L49.4,49.3C48.9,49.8,48.3,50,47.7,50z M59.1,4.5c-5,0-9.1,4.1-9.1,9.1v28.6l29.5-29.5c-0.5-4.6-4.3-8.2-9-8.2H59.1z"/>
                    <path id="logo_a2" class="st0"
                          d="M93.2,50c-0.6,0-1.2-0.2-1.6-0.7L68.9,26.6c-0.9-0.9-0.9-2.3,0-3.2L91.6,0.7c0.6-0.6,1.6-0.8,2.5-0.5 c0.8,0.4,1.4,1.2,1.4,2.1v45.5c0,0.9-0.6,1.7-1.4,2.1C93.8,49.9,93.5,50,93.2,50z M73.7,25l17.2,17.2V7.8L73.7,25z"/>
                </svg>
            </a>
        </div>
        <a href="javascript:void(0);" class="menu_icon" onclick="toggleMenu(this)"><i class="nav_icon fa fa-bars"></i></a>
    </div>
    <div class="nav_section">
        <div class="nav_middle">
            <div class="nav_separator"></div>
            {% if user.is_authenticated %}
                <div class="nav_block">
                    <a href="{% url 'report:add_report' %}" aria-label="{% translate 'Add report of activity' %}">
                        <i class="nav_icon fa-solid fa-circle-plus"></i>
                        <span class="nav_btn_title">{% translate "Add Report" %}</span>
                    </a>
                </div>
                <div class="nav_separator"></div>
            {% endif %}
            {% if user.is_authenticated %}
                <div class="nav_block">
                    <a href="{% url 'report:list_reports' %}" aria-label="{% translate 'Reports of activities' %}">
                        <i class="nav_icon fa-solid fa-chart-pie"></i>
                        <span class="nav_btn_title">{% translate "Reports" %}</span>
                    </a>
                </div>
                <div class="nav_separator"></div>
                <div class="nav_block">
                    <a href="{% url 'metrics:per_project' %}" aria-label="{% translate 'Track metrics' %}">
                        <i class="nav_icon fa-solid fa-bullseye"></i>
                        <span class="nav_btn_title">{% translate "Track metrics" %}</span>
                    </a>
                </div>
                <div class="nav_separator"></div>
            {% endif %}
            <div class="nav_block">
                <a href="{% url 'agenda:show_calendar' %}" aria-label="{% translate 'Calendar of activities' %}">
                    <i class="nav_icon fa-solid fa-calendar-check"></i>
                    <span class="nav_btn_title">{% translate "Calendar" %}</span>
                </a>
            </div>
            <div class="nav_separator"></div>
            <div class="nav_block">
                <a href="{% url 'metrics:show_activities' %}" aria-label="{% translate 'Activities plan' %}">
                    <i class="nav_icon fa-solid fa-table-list"></i>
                    <span class="nav_btn_title">{% translate "Activities" %}</span>
                </a>
            </div>
            <div class="nav_separator"></div>
            <div class="nav_block">
                <a href="{% url 'strategy:show_strategy' %}" aria-label="{% translate 'Strategy page' %}">
                    <i class="nav_icon fa-solid fa-cogs"></i>
                    <span class="nav_btn_title">{% translate "Strategy" %}</span>
                </a>
            </div>
            <div class="nav_separator"></div>
            <div class="nav_block">
                {% include 'i18n.html' %}
            </div>
            <div class="nav_separator"></div>
        </div>
        <div class="nav_bottom">
            {% if user.is_authenticated %}
                <div class="nav_block">
                    <a href="{% url 'user:profile' user_id=user.id %}" aria-label="{% translate 'User profile' %}">
                        <i class="nav_icon fa-solid fa-user-gear"></i>
                        <span class="nav_btn_title">{% translate "Profile" %}<br>{{ user.professional_wiki_handle }}</span>
                    </a>
                </div>
            {% endif %}
            <div class="nav_separator"></div>
            <div class="nav_block">
                {% if user.is_authenticated %}
                    <form action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <button class="link-button" type="submit">
                            <i class="nav_icon fa-solid fa-right-from-bracket"></i>
                            <span class="nav_btn_title">{% translate "Logout" %}</span>
                        </button>
                    </form>
                {% else %}
                    <a href="{% url 'login' %}" aria-label="{% translate 'Login' %}">
                        <i class="nav_icon fa-solid fa-right-to-bracket"></i>
                        <span class="nav_btn_title">{% translate "Login" %}</span>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>