{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title %}{{ title }}{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/calendar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/forms.css' %}">
{% endblock %}

{% block content %}
    <div class="w3-container userform">
        <div class="w3-row block-section">
            <div class="w3-quarter disappear">&nbsp;</div>
            <div class="w3-half">
                <p>{% blocktranslate %}<b>S.A.R.A.</b> is an acronym for Results and Learning Evaluation System (or <i><b>S</b>istema de <b>A</b>valiação de <b>R</b>esultados e <b>A</b>prendizados</i> in Portuguese) and it is a software meant for recording and evaluating activities quantitative and qualitative metrics.{% endblocktranslate %}</p>
                <p>{% blocktranslate %}Developed by the <b>Wikimedia Brasil (WMB)</b>, a non-profit Brazilian association affiliated with the Wikimedia Foundation, this software aims to facilitate the recording and analysis of WMB activities.{% endblocktranslate %}</p>
            </div>
        </div>
        <div class="w3-row block-section">
            <div class="w3-quarter disappear">&nbsp;</div>
            <div class="w3-half">
                <p style="font-size: small;">{% blocktranslate %}This app was developed in <a class="underlined" target='_blank' href='https://pt.wikipedia.org/wiki/Django_(framework_web)'><i>Django</i></a>{% endblocktranslate %}</p>
                <p style="font-size: small;">{% blocktranslate %}The source code is available at <a class="underlined" target='_blank' href='https://github.com/WikiMovimentoBrasil/sara'>GitHub</a>{% endblocktranslate %}</p>
                <p style="font-size: small;">{% blocktranslate %}Source code license: <a class="underlined" target='_blank' href='https://github.com/WikiMovimentoBrasil/sara/blob/main/LICENSE'>MIT</a>{% endblocktranslate %}</p>
                <p style="font-size: small;">{% blocktranslate %}Text license: <a class="underlined" target='_blank' href='https://creativecommons.org/licenses/by-sa/3.0/'>CC-BY-SA 3.0 International</a>{% endblocktranslate %}</p>
                <p style="font-size: small;">{% blocktranslate %}Version 2.0{% endblocktranslate %}</p>
            </div>
        </div>
    </div>
{% endblock %}