{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title %}{{ title }}{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/calendar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/forms.css' %}">
{% endblock %}

{% block content %}
    <div class="w3-container userform">
        <div class="w3-row block-section">
            <div class="w3-quarter disappear">&nbsp;</div>
            <div class="w3-half">
                <p>{% blocktrans %}<b>S.A.R.A.</b> is a web application for recording and analyzing qualitative and quantitative activity reports.{% endblocktrans %}</p>
            </div>
        </div>
        <div class="w3-row block-section">
            <div class="w3-quarter disappear">&nbsp;</div>
            <div class="w3-half" id="homepage_buttons">
                {% if perms.report.add_report %}<div class="w3-half"><a href="{% url 'report:add_report' %}"><button class="custombutton" type="button">{% translate "Add report" %}</button></a></div>{% endif %}
                {% if perms.report.view_report %}<div class="w3-half"><a href="{% url 'report:list_reports' %}"><button class="custombutton" type="button">{% translate "List reports" %}</button></a></div>{% endif %}
                {% if perms.metrics.view_metric %}<div class="w3-half"><a href="{% url 'metrics:per_project' %}"><button class="custombutton" type="button">{% translate "Track metrics" %}</button></a></div>{% endif %}
                <div class="w3-half"><a href="{% url 'agenda:show_calendar' %}"><button class="custombutton" type="button">{% translate "Show calendar" %}</button></a></div>
                {% if perms.report.add_report %}<div class="w3-half"><a href="{% url 'agenda:area_activities' %}"><button class="custombutton" type="button">{% translate "Area activities" %}</button></a></div>{% endif %}
                <div class="w3-half"><a href="{% url 'metrics:show_activities' %}"><button class="custombutton" type="button">{% translate "See activities plan" %}</button></a></div>
                <div class="w3-half"><a href="{% url 'strategy:show_strategy' %}"><button class="custombutton" type="button">{% translate "See strategy" %}</button></a></div>
                {% if perms.users.change_userprofile %}<div class="w3-half"><a href="{% url 'user:profile' user_id=user.id %}"><button class="custombutton" type="button">{% translate "Edit your profile" %}</button></a></div>{% endif %}
                {% if perms.auth.add_user %}<div class="w3-half"><a href="{% url 'user:register' %}"><button class="custombutton" type="button">{% translate "Register new user" %}</button></a></div>{% endif %}
                {% if user.is_authenticated %}<div class="w3-half"><a href="{% url 'bug:list_bugs' %}"><button class="custombutton" type="button">{% translate "Register bugs" %}</button></a></div>{% endif %}
            </div>
        </div>
        <div class="w3-row block-section">
            <div class="w3-quarter disappear">&nbsp;</div>
            <div class="w3-half">
                <div><a href="{% url 'metrics:about' %}"><button class="custombutton" type="button">{% translate "About S.A.R.A." %}</button></a></div>
            </div>
        </div>
    </div>
{% endblock %}