{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title %}{{ title }}{% endblock %}
{% load metricstags %}

{% block banner %}{% endblock %}
{% block footer %}{% endblock %}
{% block scripts %}
    <script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/bootstrap-table/1.21.2/bootstrap-table.min.js"></script>
    <script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/bootstrap-table/1.21.2/extensions/mobile/bootstrap-table-mobile.min.js"></script>
    <script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/bootstrap-table/1.21.2/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>
{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/bootstrap-table/1.21.2/bootstrap-table.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/forms.css' %}">
    <style>
        @media print {
            body * { visibility: hidden;}
            nav, .index, .actions, .noprint { display: none !important; }
            .printable_content, .printable_content * { visibility: visible; }
            #page_content { width: 100% !important; }
            body { margin: 0; padding: 0; }
            .page-break { page-break-before: always; }
        }
    </style>
{% endblock %}
{% block content %}
    <div class="w3-row">
        <div class="w3-quarter index">
            <div class="index-box">
                <ul>
                    {% for project_key, project_value in poa_dataset.items %}
                        <li><a href="#{{ project_key }}" aria-label="{{ project_value.project }}">{{ project_value.project }}</a></li>
                    {% endfor %}
                    {% for project_key, project_value in dataset.items %}
                        <li><a href="#{{ project_key }}" aria-label="{{ project_value.project }}">{{ project_value.project }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="w3-container" style="margin-top: 1em">
                <button class="custombutton" type="button" onClick="window.print()">{% trans "Print" %}</button>
            </div>
            <div class="w3-container" style="margin-top: 1em">
                <a href="{% url 'metrics:per_project' %}" aria-label="{% trans 'Go back' %}">
                    <button class="custombutton" type="button" style="background-color: var(--grey-color);">
                        {% trans "Go back" %}
                    </button>
                </a>
            </div>
        </div>
        <div id="page_content" class="w3-threequarter" style="background-color: var(--light-color); color:black;">
            {% if poa_dataset %}
                {% for project_key, project_value in poa_dataset.items %}
                    <div class="printable_content" id="project_{{ project_key }}">
                        <h2 id="{{ project_key }}"><a href="{% url 'metrics:specific_project' project_id=project_key %}">{{ project_value.project }}</a></h2>
                        <table id="metrics_{{ project_key }}" class="table table-striped table-sara metrics_table"
                               data-mobile-responsive="true"
                               data-check-on-init="true"
                               data-filter-control="true">
                            <thead>
                            <tr>
                                <th data-field="actions" class="actions">{% trans "Actions" %}</th>
                                <th data-field="id">{% trans "ID" %}</th>
                                <th data-field="metric">{% trans "Metric" %}</th>
                                <th data-field="done">{% trans "Done" %}</th>
                                <th data-field="goal">{% trans "Goal" %}</th>
                                <th data-field="status">{% trans "Status" %}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for activity in project_value.project_metrics|dictsort:"activity_id" %}
                                <tr style="background-color: var(--dark-grey-color);"><td colspan="6" style="color: var(--light-color);">{{ activity.activity }}</td></tr>
                                {% for metric_key, metric_value in activity.activity_metrics.items %}
                                    {% for numeric_key, numeric_value in metric_value.metrics.items %}
                                        <tr>
                                            <th scope="row" style="text-align: center;"><a title="{% trans 'View' %}" href="{% url 'metrics:metrics_reports' metric_id=metric_key %}"><button title="{% trans 'View' %}" type="button" class="btn-circle btn-view"><i class="fa-solid fa-eye"></i></button></a></th>
                                            <th scope="row">{{ metric_key }}</th>
                                            <td>{{ metric_value.title }}<br><small>({% translate numeric_key %})</small></td>
                                            <td>{{ numeric_value.done|bool_yesnopartial:numeric_value.final }}</td>
                                            <td>{{ numeric_value.goal|bool_yesno }}</td>
                                            <td>
                                                <button type="button" class="btn-round btn-{{ numeric_value.done|categorize:numeric_value.goal }}">
                                                    {% if not numeric_value.goal|is_yesno %}
                                                        {{ numeric_value.done|perc:numeric_value.goal }}
                                                    {% elif numeric_value.final %}
                                                        {{ numeric_value.done|perc:numeric_value.goal }}
                                                    {% else %}
                                                        -
                                                    {% endif %}
                                                </button>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% endfor %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="page-break"></div>
                    <br>
                {% endfor %}
            {% endif %}
            {% for project_key, project_value in dataset.items %}
                <div class="printable_content" id="project_{{ project_key }}">
                    <h2 id="{{ project_key }}"><a href="{% url 'metrics:specific_project' project_id=project_key %}">{{ project_value.project }}</a></h2>
                    <table id="metrics_{{ project_key }}" class="table table-striped table-fixed table-sara metrics_table"
                           data-mobile-responsive="true"
                           data-check-on-init="true"
                           data-filter-control="true">
                        <thead>
                        <tr>
                            <th data-field="actions" class="actions">{% trans "Actions" %}</th>
                            <th data-field="id">{% trans "ID" %}</th>
                            <th data-field="metric">{% trans "Metric" %}</th>
                            <th data-field="done">{% trans "Done" %}</th>
                            <th data-field="goal">{% trans "Goal" %}</th>
                            <th data-field="status">{% trans "Status" %}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for activity in project_value.project_metrics|dictsort:"activity_id" %}
                            <tr style="background-color: var(--dark-grey-color);"><td colspan="6" style="color: var(--light-color);">{{ activity.activity }}</td></tr>
                            {% for metric_key, metric_value in activity.activity_metrics.items %}
                                {% for numeric_key, numeric_value in metric_value.metrics.items %}
                                    <tr>
                                        <th scope="row" style="text-align: center;"><a title="{% trans 'View' %}" href="{% url 'metrics:metrics_reports' metric_id=metric_key %}"><button title="{% trans 'View' %}" type="button" class="btn-circle btn-view"><i class="fa-solid fa-eye"></i></button></a></th>
                                        <th scope="row">{{ metric_key }}</th>
                                        <td>{{ metric_value.title }}<br><small>({% translate numeric_key %})</small></td>
                                        <td>{{ numeric_value.done|bool_yesno }}</td>
                                        <td>{{ numeric_value.goal|bool_yesno }}</td>
                                        <td>
                                            <button type="button" class="btn-round btn-{{ numeric_value.done|categorize:numeric_value.goal }}">
                                                {{ numeric_value.done|perc:numeric_value.goal }}
                                            </button>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% endfor %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% if not forloop.last %}<div class="page-break"></div>{% endif %}
                <br>
            {% endfor %}
        </div>
    </div>
    <script>
        $(function () {
            $('.metrics_table').bootstrapTable();
        })

        function datesSorter(a, b) {
            if (new Date(a) < new Date(b)) return 1;
            if (new Date(a) > new Date(b)) return -1;
            return 0;
        }

        $(function (){
            $('[class*="bootstrap-table-filter-control-"]').wrap("<label style='width: 100%'></label>");
        })
    </script>
{% endblock %}