{% load i18n %}

{% trans "Wikipedia (created)" %}
{% trans "Wikipedia (edited)" %}
{% trans "Wikimedia Commons (created)" %}
{% trans "Wikimedia Commons (edited)" %}
{% trans "Wikidata (created)" %}
{% trans "Wikidata (edited)" %}
{% trans "Wikiversity (created)" %}
{% trans "Wikiversity (edited)" %}
{% trans "Wikibooks (created)" %}
{% trans "Wikibooks (edited)" %}
{% trans "Wikisource (created)" %}
{% trans "Wikisource (edited)" %}
{% trans "Wikinews (created)" %}
{% trans "Wikinews (edited)" %}
{% trans "Wikiquote (created)" %}
{% trans "Wikiquote (edited)" %}
{% trans "Wiktionary (created)" %}
{% trans "Wiktionary (edited)" %}
{% trans "Wikivoyage (created)" %}
{% trans "Wikivoyage (edited)" %}
{% trans "Wikispecies (created)" %}
{% trans "Wikispecies (edited)" %}
{% trans "MetaWiki (created)" %}
{% trans "MetaWiki (edited)" %}
{% trans "MediaWiki (created)" %}
{% trans "MediaWiki (edited)" %}
{% trans "Wikifunctions (created)" %}
{% trans "Wikifunctions (edited)" %}
{% trans "Incubator (created)" %}
{% trans "Incubator (edited)" %}

{% trans "Number of participants" %}
{% trans "Number of feedbacks" %}
{% trans "Number of editors" %}
{% trans "Number of editors retained" %}
{% trans "Number of new editors" %}
{% trans "Number of organizers" %}
{% trans "Number of organizers retained" %}
{% trans "Number of new organizers" %}
{% trans "Number of partnerships activated" %}
{% trans "Number of new partnerships" %}

{% trans "Number of resources" %}
{% trans "Number of events" %}
{% trans "Number of donors" %}
{% trans "Number of submissions" %}
{% trans "Number of new followers" %}
{% trans "Number of mentions" %}
{% trans "Number of community communications" %}
{% trans "Number of people reached through social media" %}
{% trans "Occurrence" %}
{% trans "Other metric" %}
